section {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 100%;
  overflow: hidden;
}

.scrolling-grid {
  animation: scrolling-grid 10s linear infinite;
}

@keyframes scrolling-grid {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

h1 {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 95px !important;
}
